body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.def, .thm, .ax, .cnst {
    margin:5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.def {
    background-color: lightgoldenrodyellow;
}

.thm {
    background-color: gold;
}

.ax {
    background-color: lightcoral;
}

.cnst {
    background-color: pink;
}

.decl_name, .decl_args {
    padding: 0px 4px 0px 0px;
    white-space: nowrap;
}

.decl_args, .decl_args a:link, .decl_args a:visited, .decl_args a:active {
    color: darkslategray;
}

.decl_args a:hover {
    color: black;
}

.decl_name, .decl_args {
    font-size: 16px;
    font-weight: bold;
}

.decl_type {
    font-size:16px;
    padding: 10px 0px 0px 0px;
}

code, .decl_name, .decl_args, .decl_type {
    font-family: monospace;
}

code a:link, code a:visited, code a:active,
.decl_type a:link, .decl_type a:visited, .decl_type a:active {
    color: black;
}

code a:hover, .decl_type a:hover {
    color: darkslategray;
}

.indent {
    padding: 5px;
}

a.index:link, a.index:visited, a.index:active {
    color:darkblue;
}

a.file:link, a.file:visited, a.file:active {
    color:darkseagreen;
}

.mod_doc {
    /* width:1000px; */
}
