* {
    box-sizing: border-box;
  }

body {
    font-family: 'Lucida Grande', Arial, sans-serif;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    height: 100vh;
  }

  .content {
    padding: 15px;
  }

  .left {
      position: fixed;
      top: 0;
      left: 0;
  }

  .right {
      position: fixed;
      top: 0;
      right: 0;
  }

  .left, .right {
    width: 20vw;

    overflow-y: auto;
    overflow-x: hidden;
  }

  .middle {
      position: fixed;
      top: 0;
      left: 20vw;
      width: 60%;
      overflow-y: auto;
      overflow-x: auto;
  }

.mod_doc h1 {
    margin-top: 0;
}


 /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }


  .nav .nav_sect_inner {
    padding-left: 15px;
    display: none;
}

.nav .nav_sect {
    width: fit-content;
    color: blueviolet;
    cursor: pointer;
}

.nav .nav_file {
    color: green;
/*     cursor: pointer; */
    display: inline-block;
}

.nav .nav_file.visible {
    color: red;
    cursor: auto;
}

.nav, .internal_nav {
    font-size: 15px;
    padding: 15px;
}


.def, .thm, .ax, .cnst, .structure, .inductive, .mod_doc, .index_body {
    overflow-x: auto;
    padding-left: 5px;
}

.def, .thm, .ax, .cnst, .structure, .inductive {
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

.def {
    background-color: rgb(250, 232, 232);
}

.def .decl_name:before {
    content: "def "
}

.thm {
    background-color: rgb(245, 218, 218);
}

.thm .decl_name:before {
    content: "theorem "
}

.ax {
    background-color: rgb(248, 201, 201);
}

.ax .decl_name:before {
    content: "axiom "
}

.cnst {
    background-color: rgb(223, 190, 190);
}

.cnst .decl_name:before {
    content: "constant "
}

.structure, .inductive {
    background-color: rgb(255, 184, 184);
}

.structure .decl_name:before {
    content: "structure "
}

.inductive .decl_name:before {
    content: "inductive "
}

.decl_name, .decl_args {
    padding: 0px 4px 0px 0px;
    white-space: nowrap;
}

.decl_args, .decl_args a:link, .decl_args a:visited, .decl_args a:active {
    color: darkslategray;
}

.decl_args a:hover {
    color: black;
}

.decl_name, .decl_args {
    font-size: 16px;
    font-weight: bold;
}

.decl_type {
    font-size:16px;
    padding: 10px 0px 0px 0px;
}

code, .decl_name, .decl_args, .decl_type,
 .structure .structure_fields .structure_field,
 .inductive .structure_fields .structure_field {
    font-family: monospace;
}

code {
    font-size: 15px;
}

code a:link, code a:visited, code a:active,
.decl_type a:link, .decl_type a:visited, .decl_type a:active,
.decl_name a:link, .decl_name a:visited, .decl_name a:active {
    color: black;
}

code a:hover, .decl_type a:hover, .decl_name a:hover {
    color: darkslategray;
}

.indent {
    padding: 5px;
}

a.index:link, a.index:visited, a.index:active {
    color:darkblue;
}

a.file:link, a.file:visited, a.file:active {
    color:darkseagreen;
}

.anchor {
    height: 1px;
    width: 1px;
}