{% extends "base.j2" %}
{% block title %}404{% endblock %}

{% block content %}
<h1>404 Not Found</h1>

<p> Unfortunately, the page you were looking for is no longer here. </p>

<div id="howabout"></div>
{% endblock %}