{% set kind = kind_of_decl(decl) %}
<div class="decl" id="{{ decl.name }}">
<div class="{{ kind }}{{ " meta" if decl.is_meta }}{{ " noncomputable" if decl.noncomputable_reason }}">

<div class="gh_link"><a href="{{ library_link(decl.filename, decl.line) }}">source</a></div>

{% if decl.attributes | length %}
    <div class="attributes">@[{{ ', '.join(decl.attributes) }}]</div>
{% endif %}

<div class="decl_header">
    {% include "decl_header.j2" %}
</div>

{% if decl.structure_fields | length %}
    <ul class="structure_fields" id="{{ decl.name }}.mk">
        {% for name, tp in decl.structure_fields %}
            {% set field_name = name.split('.')[-1] %}
            <li class="structure_field" id="{{name}}">{{field_name}} : {{ tp | linkify_efmt }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if decl.constructors | length %}
    <ul class="constructors">
        {% for name, tp in decl.constructors %}
            {% set ctor_name = name.split('.')[-1] %}
            <li class="constructor" id="{{name}}">{{ctor_name}} : {{ tp | linkify_efmt }}</li>
        {% endfor %}
    </ul>
{% endif %}

{{ decl.doc_string | convert_markdown }}

{% if decl.equations | length %}
    <details>
        <summary>Equations</summary>
        <ul class="equations">
            {% for eqn in decl.equations %}
                <li class="equation">{{ eqn | linkify_efmt }}</li>
            {% endfor %}
        </ul>
    </details>
{% endif %}

{% if decl.name in instances %}
    <details class="instances">
        <summary>Instances</summary>
        <ul>
            {% for inst in instances[decl.name] %}
                <li>{{ inst | linkify }}</li>
            {% endfor %}
        </ul>
    </details>
{% endif %}

</div>
</div>
