{% set kind = kind_of_decl(decl) %}
{% if decl.is_meta %}<span class="decl_meta">meta</span>{% endif %}
<span class="decl_kind">{{ kind }}</span>
<span class="decl_name"><a href="{{ decl.name | link_to_decl }}">{{ decl.name | htmlify_name }}</a></span>
{% for arg in decl.args %}
    {% if arg.implicit %}<span class="impl_arg">{% endif -%}
    <span class="decl_args">{{ arg.arg | linkify_efmt }}</span>
    {%- if arg.implicit %}</span>{% endif -%}
{%- endfor -%}
&nbsp;<span class="decl_args">:</span>
<div class="decl_type">{{ decl.type | linkify_efmt }}</div>