<meta http-equiv="refresh" content="0;url={{site_root}}{{decl_loc.url}}#{{decl_name | urlencode}}">
<meta property="og:url" content="0;url={{site_root}}find/{{decl_name | urlencode}}">
<meta property="og:title" content="{{decl_name}} - mathlib docs">
<meta property="og:site_name" content="mathlib for Lean - API documentation">
<meta property="og:description" content="{{ decl.doc_string | default("") | plaintext_summary }}">
<meta property="og:image" content="https://leanprover-community.github.io/mathlib_docs/meta-og.png">
<meta name="twitter:card" content="summary">
