{% extends "base.j2" %}
{% block title %}Index{% endblock %}

{% block content %}
<h1>Welcome to scilib's documentation page</h1>

<p>We will change this part later...</p>

<p>On the left menu, the "General" and "Additional documentation" sections provide links with extra
information about scilib and related topics from our community, respectively. The "Library" section
contains dropdown/expandable subsections according to scilib's tree structure.</p>
{% endblock %}
