{% extends "base.j2" %}

{% block title -%}
{% if filename.project != 'mathlib' %}{{ filename.project | e }} / {% endif %}{{ filename.name | e }}
{%- endblock %}
{% block doctitle -%}
{% if filename.project != 'mathlib' %}{{ filename.project | htmlify_name }} / {% endif %}{{ filename.name | htmlify_name }}
{%- endblock %}

{% block content %}
<div class="imports">
    <details>
        <summary>Imports</summary>
        <ul>
        {%- for _, other_mod in sorted(import_graph.out_edges(filename)) %}
            <li><a href="{{ site_root }}{{ other_mod.url }}">
                {{ other_mod.name }}</a></li>
        {% endfor -%}
        </ul>
    </details>
    <details>
        <summary>Imported by</summary>
        <ul>
        {%- for other_mod, _ in sorted(import_graph.in_edges(filename)) %}
            <li><a href="{{ site_root }}{{ other_mod.url }}">
                {{ other_mod.name }}</a></li>
        {% endfor -%}
        </ul>
    </details>
</div>
{% for item in items %}
    {% if 'name' in item %}
        {% set decl = item %}
        {% include "decl.j2" %}
    {% else %}
        <div class="mod_doc">
            {{ item.doc | convert_markdown }}
        </div>
    {% endif %}
{% endfor %}
{% endblock %}

{%- block metadesc -%}
{%- if not 'name' in items[0] -%}
  {{ items[0].doc | plaintext_summary }}
{%- endif -%}
{%- endblock -%}

{% block internal_nav %}
<h3><a class="break_within" href="#top">{{ self.doctitle() }}</a></h3>

<div class="gh_nav_link"><a href="{{ filename | library_link }}">source</a></div>

{% for decl_name in decl_names %}
    <div class="nav_link"><a class="break_within" href="#{{ decl_name }}">{{ decl_name | htmlify_name }}</a></div>
{% endfor %}
{% endblock %}