{% extends "base.j2" %}
{% block title %}notes{% endblock %}

{%- block metadesc -%}
  {{ "Various implementation details are noted in the mathlib source, and referenced later on.
  We collect these notes here." | plaintext_summary }}
{%- endblock -%}

{% block content %}
<div class="docfile">

<h1>Lean mathlib notes</h1>

<p>Various implementation details are noted in the mathlib source, and referenced later on.
We collect these notes here.</p>

{% for note_name, note_data in notes %}
    <div class="note">
        <h2 id="{{note_name}}"><a href="#{{note_name}}">{{note_name}}</a></h2>
        {{ note_data.md | convert_markdown }}

        {% if note_data.backrefs | length > 0 %}
        referenced by: <small>{% for filename, backref_id, title in note_data.backrefs %}
        <a href="{{ filename }}#{{ backref_id }}" title="{{ title }}">[{{ loop.index }}]</a>
        {% endfor %}</small>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}

{% block internal_nav %}
<h3><a href="#top">Library notes</a></h3>
{% for note_name, _ in notes %}
    <div class="nav_link"><a href="#{{note_name}}">{{note_name}}</a></div>
{% endfor %}

</div>
{% endblock %}
