name: build and deploy docs

on:
  schedule:
    - cron: '0 */2 * * *' # every 2 hours
  push:
  pull_request:

jobs:
  build:
    name: build and deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Checkout mathlib
        run: git clone https://github.com/leanprover-community/mathlib

      - name: install elan
        run: |
          set -o pipefail
          curl https://raw.githubusercontent.com/Kha/elan/master/elan-init.sh -sSf | sh -s -- --default-toolchain none -y
          cd mathlib
          ~/.elan/bin/lean --version
          echo "$HOME/.elan/bin" >> $GITHUB_PATH

      - name: install Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: run leanproject
        run: |
          cd mathlib
          leanproject up

      - name: generate docs
        run: ./deploy_docs.sh "mathlib" ".." "mathlib"
        env:
          DEPLOY_GITHUB_TOKEN: ${{ secrets.DEPLOY_GITHUB_TOKEN }}
          github_repo: ${{ github.repository }}
          github_event: ${{ github.event_name }}
          github_ref: ${{ github.ref }}
